header {
    border: 2px solid black ; ; text-align: center;
border-radius: 2%;
color:#780000; background-color:#c1121f ;}
section{ text-align: center; border: 2px solid ; background-color: blue;
color: aqua;
}